/// Display social share menu
$outline-navigation-bar-display-share-button: $navigation-display-share-button !default;

/// Display hide text menu button
$outline-navigation-bar-display-hide-text-button: $navigation-display-hide-text-button !default;

.menu_items {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  bottom: 0;
  right: 0;
  width: 65px;

  .volume {
    height: 25%;
    min-height: 100px;
    max-height: 200px;
  }
}

@if not $outline-navigation-bar-display-share-button {
  .menu_item.share {
    display: none;
  }
}

@if not $outline-navigation-bar-display-hide-text-button {
  .menu_item.hide_text {
    display: none;
  }
}
