.mobile_sharing {
  li {
    > a {
      display: block;
      margin-left: 78px;
      color: white;
      text-decoration: none;
      font-size: 24px;
      padding-top: 12px;
      border: 0;
      height: 80px;

      svg {
        fill: white;
        position: absolute;
        left: 25px;
        top: 28px;
        width: 38px;
        height: 38px;
      }
    }
  }

  /* only show WhatsApp share button on iOS devices */
  @supports (-webkit-overflow-scrolling: touch) {
    li.whats_app {
      display: block;
    }
  }

  @supports not (-webkit-overflow-scrolling: touch) {
    li.whats_app {
      display: none;
    }
  }

  .sub_share a {
    color: white;
    font-family: SourceSansPro;
    font-size: 13px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    width: auto;
    display: block;
    margin: 0 1em 1em 1em;
    padding: 1em 0;
  }
}

.sub_share {
  display: none;
}
