$outline-navigation-bar-chapter-typography: () !default;

.chapters_panel {
  overflow: hidden;

  .scroller {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 5px;
    width: 100%;

    &.animated {
      @include transition(top 0.5s ease);
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;

    @include mobile {
      width: 100%;
    }
  }

  li {
    @include margin-start(6px);
    padding-bottom: 2px;
  }

  a {
    display: block;
    padding: 0 12px 0 6px;

    @include typography(
      $outline-navigation-bar-chapter-typography,
      (
        font-weight: normal,
        font-size: 17px,
        line-height: 20px,
        text-decoration: none,
        white-space: nowrap
      )
    );

    color: $basic-text-color;
    @include border-start(solid 6px rgba(255, 255, 255, 0.3));

    height: 10px;
    @include transition(height 0.5s ease);
  }

  span {
    padding: 10px 0;
    display: block;
  }

  a.in_active_chapter {
    color: $outline-navigation-bar-active-chapter-color;
    @include border-start(solid 6px $outline-navigation-bar-active-chapter-color);
  }
}

&.fixed {
  .chapters_panel {
    li {
      @include margin-start(3px);
    }

    a {
      @include border-start-width(2px);
      padding-top: 0;
      padding-bottom: 0;
      @include padding-start(6px);
      @include padding-end(10px);
    }
  }
}

&.expandable {
  .chapters_panel {
    span {
      opacity: 0;
    }
  }
}

&.fixed,
&.expanded {
  .chapters_panel {
    a {
      height: 40px !important;
    }

    span {
      opacity: 1;
      @include transition(opacity 0.5s ease);
      @include transition-delay(0.3s);
    }
  }
}
