.navigation_volume_box {
  height: 100%;
  cursor: default;

  .volume-control {
    height: 100%;
  }
}

.volume-control {
  margin: 0px 20px;

  .volume-slider {
    width: 5px;
    height: 50%;
    background-color: gray;
    top: 25%;
    position: absolute;
    left: 30px;

    @include small-height {
      top: 10%;
      height: 80%;
    }
  }

  .volume-level {
    height: 100%;
    bottom: 0;
    position: absolute;

    &:before {
      position: absolute;
      display: block;
      content: "";
      background-image: image-url("pageflow/outline_navigation_bar/volume_control_sprite.png");
      background-position: -66px top;
      top: -9px;
      width: 18px;
      height: 16px;
      left: -6px;
    }
  }
}

.volume-level {
  background-color: $main-color;
}
